:root {
  --primary: rgb(113, 77, 55);
  --background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: #010101;
  min-height: 2000px;
}

.error {
  margin-top: 100px;
  text-align: center;
  background: linear-gradient(135deg, #f00, #0f0, #00f);
}

main {
  color: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  font-weight: 1000;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #292006;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: transform 0.3s ease;
}

.navbar .navbar-extra a {
  color: black;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a :hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

.Hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 1.4rem 7%;
}

.Hero::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}

.content {
  color: #fff;
  position: relative;
  z-index: 1;
  max-width: 60rem;
  text-align: right;
}

.content h1 {
  font-size: 4em;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--background);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* Mobile Phone */

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
